<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="bg-light">
    <h1>@ViewBag.Heading</h1>

    @RenderBody()

    <br />
    <div class="text-center">
        <a asp-controller="Home" asp-action="Index"  class="btn btn-dark">Home Page</a>
        <a asp-controller="Home" asp-action="Podcast" class="btn btn-dark">Podcast Page</a>
        <a asp-controller="Home" asp-action="Movies" class="btn btn-dark">Enter Movies</a>
        <a asp-controller="Home" asp-action="MoviesEntered" class="btn btn-dark">Movies Entered</a>
    </div>
</body>
</html>
