@model Class
@{
    ViewData["Title"] = "";
}
@* This is the confirmation page for when a movie is added *@
<div class="text-center">
    <h2 class="display-4">@Model.Title has been added to your favorite movies!</h2>
</div>