@{
    ViewBag.Title = "The Joel Hilton Film Collection";

    ViewBag.Heading = "Movies are where you wanna live";
}

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <div>
        <p>Here's an epic picture of Joel Hilton</p>
        <img src="~/img/JoelHilton.jpg" />
    </div>
</body>

