
@model Assignment_3.Models.Class
    <head>

    <!--Adding Javascript to validate the input-->
        <script type="text/javascript">

     // Form validation
      function validate() {

         if( document.myForm.Category.value == "" ) {
            alert( "Please provide a Category" );
            document.myForm.Category.focus() ;
            return false;
         }
         if( document.myForm.Title.value == "" ) {
            alert( "Please provide a Title" );
            document.myForm.Title.focus() ;
            return false;
         }
         if( document.myForm.Year.value == "" ) {
             alert("Please provide a Year");
             document.myForm.Year.focus();
            return false;
          }
          if (document.myForm.Director.value == "") {
              alert("Please provide a Director Name");
              document.myForm.Director.focus();
              return false;
          }
          if (document.myForm.Rating.value == "") {
              alert("Please select a movie rating");
              document.myForm.Rating.focus();
              return false;
          }
         return( true );
      }
        </script>
    </head>

<!--Setting up a form to collect user input-->

<body>
    <form asp-action="Movies" method="post" name="myForm">
        <div class="form-group">
            <label asp-for="Category">Category:</label>
            <input class="form-control" asp-for="Category" required/>
        </div>

        <div class="form-group">
            <label asp-for="Title">Movie Title:</label>
            <input class="form-control"  asp-for="Title" required/>
        </div>

        <div class="form-group">
            <label asp-for="Year">Year:</label>
            <input class="form-control"  asp-for="Year" required/>
        </div>

        <div class="form-group">
            <label asp-for="Director">Director:</label>
            <input class="form-control"  asp-for="Director" required/>
        </div>

        <div class="form-group">
            <label asp-for="Rating">Movie Rating:</label>
            <select class="form-control"  asp-for="Rating" required>
                <option value="">Select One</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>
        </div>

        <div class="form-group">
            @Html.RadioButtonFor(m => m.Edited, true)
            @Html.LabelFor(m => m.Edited, "Movie is edited")
            <br />
            @Html.RadioButtonFor(m => m.Edited, false)
            @Html.LabelFor(m => m.Edited, "Movie is not edited")
        </div>

        <div class="form-group">
            <label asp-for="Lent">Who have you lent this movie to? (not required):</label>
            <input class="form-control"  asp-for="Lent" />
        </div>

        <div class="form-group">
            <label asp-for="Notes">Notes:</label>
            <input class="form-control"  asp-for="Notes" maxlength="25" />
        </div>

        <div>
            <button type="submit" onclick="validate()" class="btn btn-dark">Submit</button>
        </div>

        <div asp-validation-summary="All"></div>
    </form>
</body>


