
@{
    ViewBag.Title = "Joel Hilton";
}

<head>
    <title>@ViewBag.Title</title>
</head>

<body class="text-center">
    <h1 class="font-weight-bold; text-center">Try out our Baconsale!</h1>
    </body>
